.w-checkbox {
  display: block;
  margin-bottom: 5px;
  padding-left: 20px;
}

.w-checkbox::before {
  content: ' ';
  display: table;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

.w-checkbox::after {
  content: ' ';
  display: table;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  clear: both;
}

.w-checkbox-input {
  float: left;
  margin-bottom: 0px;
  margin-left: -20px;
  margin-right: 0px;
  margin-top: 4px;
  line-height: normal;
}

.w-checkbox-input--inputType-custom {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-top-color: #ccc;
  border-bottom-color: #ccc;
  border-left-color: #ccc;
  border-right-color: #ccc;
  border-top-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  width: 12px;
  height: 12px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #3898ec;
  border-top-color: #3898ec;
  border-bottom-color: #3898ec;
  border-left-color: #3898ec;
  border-right-color: #3898ec;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: 0px 0px 3px 1px #3898ec;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 38px;
  line-height: 44px;
  font-weight: bold;
}

.brand {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 25px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 194px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.navbar {
  width: 100%;
  max-width: 1400px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  background-color: transparent;
}

.button {
  margin-left: 0px;
  padding: 18px 24px;
  border-radius: 30px;
  background-color: transparent;
  background-image: linear-gradient(266deg, #7d2aeb, #ad2aeb);
  box-shadow: 0 16px 20px 0 rgba(122, 24, 243, 0.66);
  font-family: Circe, sans-serif;
  font-size: 16px;
  font-weight: 700;
}

.button._2 {
  display: none;
}

.button._3 {
  margin-left: 40px;
}

.button._4 {
  display: block;
  margin-top: 0px;
  margin-left: 25px;
}

.section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  height: auto;
  padding-right: 88px;
  padding-bottom: 30px;
  padding-left: 88px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #0d1d4a;
  background-image: url('../images/Rectangle-3.svg'), url('../images/Ellipse-1.svg');
  background-position: 50% 100%, 100% 0%;
  background-size: 1900px, auto;
  background-repeat: no-repeat, no-repeat;
  background-attachment: scroll, scroll;
}

.div-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1400px;
  margin-top: 58px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-2 {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 550px;
  max-height: 700vh;
  max-width: 1400px;
  min-height: 550px;
  margin-top: 68px;
  padding-bottom: 47px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-image: url('../images/Rectangle-1.svg');
  background-position: 0px 0px;
  background-size: 597px;
  background-repeat: no-repeat;
}

.h1 {
  margin-bottom: 25px;
  font-family: Circe, sans-serif;
  color: #fff;
  font-size: 55px;
  line-height: 65px;
  font-weight: 800;
  text-align: left;
  text-transform: uppercase;
}

.div-block-3 {
  width: 60%;
  max-width: 60%;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 107px;
  color: #fff;
}

.div-block-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-block {
  margin-left: 18px;
  font-family: Circe, sans-serif;
  color: #fff;
  font-size: 17px;
  line-height: 25px;
  font-weight: 800;
  text-transform: uppercase;
}

.div-block-5 {
  position: absolute;
  left: auto;
  top: -11%;
  right: 32%;
  bottom: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 22%;
  padding-right: 4px;
  padding-left: 4px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.image {
  position: absolute;
}

.text-block-2 {
  font-family: Circe, sans-serif;
  color: #fff;
  font-size: 17px;
  font-weight: 800;
  text-transform: uppercase;
}

.div-block-7 {
  position: absolute;
  left: auto;
  top: 1%;
  right: 17%;
  bottom: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  margin-left: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image-2 {
  margin-right: 7px;
  margin-bottom: 16px;
}

.div-block-8 {
  position: absolute;
  left: auto;
  top: 31%;
  right: -2%;
  bottom: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 22%;
  margin-top: 0px;
  margin-right: 0px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-block-3 {
  margin-left: 19px;
  font-family: Circe, sans-serif;
  color: #fff;
  font-size: 17px;
  font-weight: 800;
  text-transform: uppercase;
}

.text-block-3._2 {
  margin-left: 0px;
}

.div-block-9 {
  margin-top: auto;
  margin-bottom: 117px;
}

.div-block-10 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin-left: 214px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-11 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 555px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.image-3 {
  margin-bottom: 15px;
}

.div-block-12 {
  margin-top: auto;
}

.div-block-13 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 700px;
  max-width: 1400px;
  min-height: 700px;
  margin-top: 0px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('../images/Ellipse-3.svg');
  background-position: 0% 0%;
  background-size: 668px;
  background-repeat: no-repeat;
}

.div-block-14 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 27px;
  margin-left: 51px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image-4 {
  margin-left: 0px;
}

.text-block-4 {
  margin-left: 18px;
  font-family: Circe, sans-serif;
  color: #fff;
  font-size: 16px;
  line-height: 40px;
  white-space: normal;
}

.div-block-15 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-16 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-17 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-18 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-19 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-20 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-21 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 68px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-22 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 14px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.div-block-23 {
  height: 900px;
  max-height: 900px;
  max-width: 1400px;
  min-height: 900px;
  margin-top: 82px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 45px;
  background-image: url('../images/Ellipse-27.svg'), url('../images/Ellipse-24.svg');
  background-position: 100% 50%, 0% 0%;
  background-size: auto, auto;
  background-repeat: no-repeat, no-repeat;
  text-align: left;
}

.text-block-5 {
  padding-right: 18px;
  padding-left: 18px;
  font-family: Circe, sans-serif;
  color: #fff;
  font-size: 16px;
  text-align: center;
}

.div-block-24 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 28%;
  margin-top: 84px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image-5 {
  margin-bottom: 39px;
}

.div-block-25 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1300px;
  margin-top: 0px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-align-content: space-between;
  -ms-flex-line-pack: justify;
  align-content: space-between;
}

.div-block-27 {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 700px;
  max-height: none;
  max-width: 1400px;
  margin-top: 60px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-image: url('../images/Ellipse-24.svg'), url('../images/Ellipse-21.svg'), url('../images/Rectangle-1.svg');
  background-position: 100% 0%, 50% 100%, 0px 0px;
  background-size: 700px, 500px, 724px;
  background-repeat: no-repeat, no-repeat, no-repeat;
}

.div-block-28 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.text-block-6 {
  font-family: Circe, sans-serif;
  color: #fff;
  font-size: 25px;
  line-height: 35px;
  font-weight: 700;
}

.div-block-29 {
  width: 35%;
  margin-top: 126px;
  margin-left: 107px;
}

.heading-2 {
  margin-top: 0px;
  margin-bottom: 22px;
  font-family: Circe, sans-serif;
  color: #fff;
  font-size: 40px;
  line-height: 45px;
}

.text-block-7 {
  margin-bottom: 13px;
  font-family: Circe, sans-serif;
  color: #fff;
  font-size: 24px;
  line-height: 35px;
  font-weight: 700;
}

.text-block-8 {
  font-family: Circe, sans-serif;
  color: #fff;
  font-size: 16px;
}

.div-block-31 {
  width: 45%;
  margin-right: 0px;
}

.div-block-32 {
  margin-bottom: 27px;
}

.div {
  margin-bottom: 27px;
}

.text-block-9 {
  font-family: Circe, sans-serif;
  color: #fff;
  font-size: 25px;
  line-height: 35px;
  font-weight: 700;
}

.div-block-33 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-34 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  margin-bottom: 24px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.div-block-35 {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  max-width: 2000px;
  margin-top: 162px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-block-10 {
  font-family: Circe, sans-serif;
  color: #fff;
  font-size: 16px;
}

.text-block-10._1 {
  font-family: Circe, sans-serif;
  font-size: 25px;
  line-height: 35px;
  font-weight: 700;
}

.div-block-36 {
  width: 45%;
}

.image-6 {
  position: absolute;
  top: 0px;
  right: 603px;
  display: block;
}

.div-block-37 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 86%;
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image-7 {
  position: absolute;
  left: 183px;
  display: block;
}

.div-block-38 {
  position: absolute;
  left: 77px;
  top: 220px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  max-width: 1300px;
  margin-top: 52px;
  margin-right: auto;
  margin-left: auto;
  padding: 0px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.div-block-39 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 9px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.div-block-40 {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  max-width: 1400px;
  margin-top: 127px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-41 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 95px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.slider {
  display: block;
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
}

.div-block-42 {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 25px;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-block-11 {
  position: absolute;
}

.slide {
  padding-top: 0px;
  padding-bottom: 0px;
}

.div-block-43 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 34px;
  padding-left: 34px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.slide-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.right-arrow {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.div-block-44 {
  margin-bottom: 23px;
}

.div-block-46 {
  position: absolute;
  left: auto;
  top: auto;
  right: 15%;
  bottom: 23%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 20%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image-16 {
  margin-bottom: 21px;
}

.image-17 {
  position: absolute;
  left: auto;
  top: auto;
  right: 9%;
  bottom: -13%;
}

.div-block-47 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin-top: 18px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-48 {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 13vh;
  margin-right: auto;
  margin-bottom: 18px;
  margin-left: auto;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('../images/Frame-2.svg');
  background-position: 50% 50%;
  background-size: 530px;
  background-repeat: no-repeat;
}

.div-block-48._2 {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 0px;
  padding-left: 0px;
  background-image: url('../images/Frame-3.svg');
  background-size: 530px;
}

.image-18 {
  position: absolute;
  display: block;
}

.div-block-49 {
  position: relative;
  width: 45%;
  margin-top: 77px;
}

.image-19 {
  position: absolute;
}

.text-block-12 {
  font-family: Circe, sans-serif;
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
}

.div-block-50 {
  padding-top: 0px;
}

.div-block-51 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 75%;
  margin-right: auto;
  margin-left: auto;
  padding: 0px 6px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: left;
}

.slide-2 {
  width: 100%;
  height: auto;
  background-color: transparent;
}

.slider-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
}

.mask {
  overflow: visible;
  max-width: 700px;
  margin-right: auto;
  margin-left: auto;
}

.slide-nav-2 {
  font-size: 8px;
}

.image-20 {
  position: absolute;
  left: 15%;
  top: auto;
  right: 0%;
  bottom: -99%;
  display: block;
  overflow: visible;
}

.div-block-52 {
  max-width: 1400px;
}

.form-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 110%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  color: #fff;
}

.div-block-53 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
  margin-top: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.radio-button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.div-block-54 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 60px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.div-block-55 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1300px;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 96px;
  padding-left: 96px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
}

.text-field {
  color: hsla(0, 0%, 100%, 0.12);
}

.text-field-2 {
  border-radius: 13px;
  background-color: hsla(0, 0%, 100%, 0.14);
}

.t-f {
  position: relative;
  border: 1px none #000;
  border-radius: 15px;
  background-color: hsla(0, 0%, 100%, 0.2);
}

.field-label {
  position: relative;
  left: 23px;
  bottom: -33px;
}

.label {
  position: relative;
  left: auto;
  bottom: -45px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  font-family: Circe, sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.label.labelup {
  position: relative;
  left: auto;
  bottom: 3px;
  display: block;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  font-family: Circe, sans-serif;
  color: #fff;
  font-size: 14px;
}

.label._4 {
  left: 124px;
  bottom: -186px;
  display: block;
  width: 155%;
  margin-bottom: 11px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
}

.label._4.labelup {
  bottom: -25px;
}

.label._3 {
  left: auto;
  margin-right: auto;
  margin-left: auto;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.label._3._2 {
  left: 143px;
  bottom: -66px;
  width: 170%;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
}

.label._3._1 {
  left: 109px;
  bottom: -161px;
  width: 180%;
  margin-right: auto;
  margin-left: auto;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.label._2 {
  left: auto;
  margin-right: auto;
  margin-left: auto;
}

.label._5 {
  bottom: -110px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.label._6 {
  left: 223px;
  bottom: -112px;
  width: 160%;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.label._7 {
  left: 255px;
  bottom: -47px;
  width: 160%;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.input {
  height: 60px;
  border: 1px none #000;
  border-radius: 14px;
  background-color: #3c518b;
  color: #fff;
}

.input::-webkit-input-placeholder {
  background-color: #fff;
}

.input:-ms-input-placeholder {
  background-color: #fff;
}

.input::-ms-input-placeholder {
  background-color: #fff;
}

.input::placeholder {
  background-color: #fff;
}

.input._1 {
  height: 200px;
  margin-bottom: 59px;
}

.input._3 {
  width: 218%;
  height: 200px;
}

.input._2 {
  height: 25vh;
}

.input._6 {
  width: 218%;
  height: 200px;
  margin-top: 67px;
}

.div-block-56 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 900px;
  margin-top: 33px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.radio-button-label {
  margin-left: 25px;
  font-family: Circe, sans-serif;
  color: #fff;
  font-size: 16px;
}

.radio-button-field {
  margin-bottom: 52px;
}

.form {
  width: 80%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.form-block-2 {
  width: 400px;
  margin-top: -4px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.div-block-57 {
  display: none;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 63px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.div-block-58 {
  width: 100%;
  margin-right: auto;
  margin-left: 37px;
}

.checkbox {
  background-color: #7d2aeb;
  color: transparent;
}

.submit-button {
  padding: 18px 24px;
  border-radius: 30px;
  background-image: linear-gradient(95deg, #7d2aeb, #ad2aeb);
  box-shadow: 0 12px 20px 0 rgba(122, 24, 243, 0.66);
  font-family: Circe, sans-serif;
  font-size: 16px;
  font-weight: 700;
}

.radio-button-2 {
  display: block;
  width: 45px;
  height: 45px;
  border-radius: 0px;
}

.checkbox-label {
  display: inline;
  color: #fff;
  text-decoration: none;
}

.div-block-60 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 35%;
  max-width: 40%;
  margin-top: 76px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.div-block-61 {
  display: none;
}

.image-28 {
  position: relative;
  left: 63%;
  top: -85px;
  right: auto;
  bottom: 0%;
}

.text-span {
  color: #7d2aeb;
  font-weight: 400;
}

.radio-button-3 {
  width: 20px;
  height: 20px;
}

.radio-button-4 {
  width: 20px;
  height: 20px;
}

.radio-button-5 {
  width: 20px;
  height: 20px;
}

.checkbox-field-2 {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 13px;
  padding-left: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.checkbox-label-2 {
  margin-top: 36px;
  margin-bottom: 0px;
  margin-left: 0px;
  font-family: Circe, sans-serif;
  font-size: 16px;
}

.checkbox-label-3 {
  margin-left: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  font-family: Circe, sans-serif;
  font-size: 16px;
}

.checkbox-label-4 {
  margin-left: 0px;
  font-family: Circe, sans-serif;
  font-size: 16px;
}

.checkbox-label-5 {
  margin-left: 0px;
  font-family: Circe, sans-serif;
  font-size: 16px;
}

.checkbox-2 {
  position: relative;
  left: 21px;
  float: right;
}

.checkbox-1 {
  position: relative;
  left: 50px;
  bottom: -35px;
  width: 30px;
  height: 30px;
  float: right;
  border-color: #7d2aeb;
  background-color: transparent;
}

.checkbox-1._1 {
  bottom: -24px;
}

.checkbox-4 {
  position: relative;
  left: 21px;
  float: right;
}

.checkbox-5 {
  position: relative;
  left: 21px;
  float: right;
}

.style-checkbox {
  width: 50px;
  height: 50px;
  border: 1px solid #7d2aeb;
}

.columns {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 100%;
  margin-left: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
}

.column-2 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.div-block-62 {
  position: relative;
  left: 142px;
  bottom: -375px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 300%;
  max-width: 1000px;
  margin-left: 153px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

@media screen and (max-width: 991px) {
  .navbar {
    width: 100%;
  }

  .button._4 {
    margin-right: auto;
    margin-left: auto;
  }

  .section {
    height: auto;
    padding-right: 0px;
    padding-left: 0px;
  }

  .div-block {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .div-block-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .h1 {
    font-size: 45px;
    line-height: 70px;
  }

  .div-block-3 {
    width: 80%;
    max-width: 80%;
    margin-top: 71px;
    margin-left: 78px;
  }

  .div-block-4 {
    margin-top: 435px;
  }

  .div-block-5 {
    position: static;
    width: 28%;
    margin-left: 73px;
  }

  .text-block-2 {
    margin-left: 19px;
  }

  .div-block-7 {
    position: static;
    width: 30%;
    margin-left: 79px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .div-block-8 {
    position: static;
    width: 40%;
    margin-top: 0px;
    margin-left: 78px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .text-block-3._2 {
    margin-left: 17px;
  }

  .div-block-13 {
    width: 100%;
    margin-top: 86px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .div-block-14 {
    margin-left: 0px;
  }

  .div-block-23 {
    margin-top: 292px;
    padding-bottom: 0px;
  }

  .div-block-27 {
    height: auto;
    margin-top: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    background-size: 700px;
  }

  .text-block-6 {
    font-size: 25px;
    line-height: 35px;
  }

  .div-block-29 {
    width: 60%;
    margin-top: 104px;
    margin-left: 81px;
  }

  .heading-2 {
    font-size: 45px;
    line-height: 35px;
  }

  .text-block-7 {
    font-size: 25px;
  }

  .text-block-8 {
    font-size: 17px;
  }

  .div-block-31 {
    width: 80%;
    margin-top: 195px;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .div {
    margin-bottom: 27px;
  }

  .div-block-33 {
    margin-top: 67px;
  }

  .div-block-35 {
    max-width: 1400px;
    margin-top: 212px;
  }

  .div-block-38 {
    left: 35px;
    top: 313px;
    width: 90%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .div-block-39 {
    margin-top: 12px;
  }

  .div-block-40 {
    margin-top: 78px;
  }

  .div-block-45 {
    margin-left: 78px;
  }

  .image-8 {
    padding-right: 21px;
  }

  .image-9 {
    padding-right: 21px;
  }

  .image-10 {
    margin-right: 21px;
  }

  .div-block-46 {
    position: static;
    width: 40%;
    margin-top: 16px;
    margin-left: 80px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .image-20 {
    left: -1%;
    bottom: -173%;
  }

  .form-block {
    width: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .div-block-53 {
    width: 50%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .div-block-55 {
    margin-top: -261px;
    padding-right: 0px;
    padding-left: 0px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .input._3 {
    width: 700px;
  }

  .input._6 {
    width: 180%;
  }

  .div-block-56 {
    width: 600px;
  }

  .div-block-58 {
    margin-left: 32px;
  }

  .div-block-59 {
    margin-top: 234px;
  }

  .div-block-62 {
    left: -117px;
    bottom: -380px;
  }
}

@media screen and (max-width: 767px) {
  .button {
    margin-right: auto;
    margin-left: auto;
  }

  .button._3 {
    margin-top: 21px;
    margin-left: auto;
  }

  .section {
    padding-right: 0px;
    padding-left: 0px;
  }

  .h1 {
    text-align: left;
  }

  .div-block-4 {
    margin-top: 525px;
  }

  .div-block-5 {
    width: 50%;
    margin-bottom: 23px;
    margin-left: 0px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .div-block-6 {
    width: 100%;
    padding-right: 29px;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }

  .div-block-7 {
    margin-bottom: 23px;
  }

  .div-block-8 {
    width: 50%;
    margin-bottom: 23px;
    margin-left: 0px;
  }

  .div-block-22 {
    padding-right: 25px;
    padding-left: 25px;
  }

  .div-block-23 {
    margin-top: 385px;
  }

  .div-block-24 {
    width: 35%;
  }

  .div-block-25 {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .div-block-27 {
    margin-top: 316px;
  }

  .div-block-33 {
    margin-top: 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .div-block-35 {
    margin-top: 255px;
  }

  .text-block-10 {
    font-family: Circe, sans-serif;
    font-size: 14px;
  }

  .text-block-10._1 {
    font-size: 18px;
    line-height: 25px;
  }

  .div-block-38 {
    left: 54px;
    top: 298px;
    width: 80%;
    margin-left: auto;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .div-block-44 {
    text-align: center;
  }

  .div-block-45 {
    margin-left: 0px;
  }

  .image-10 {
    margin-top: 30px;
  }

  .div-block-46 {
    width: 65%;
    margin-left: 0px;
  }

  .div-block-48 {
    background-size: 450px;
  }

  .div-block-48._2 {
    background-size: 450px;
  }

  .text-block-12 {
    font-size: 14px;
  }

  .image-20 {
    bottom: -156%;
  }

  .form-block {
    width: 80%;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .div-block-53 {
    width: 100%;
  }

  .div-block-55 {
    margin-top: 53px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .label._4 {
    left: 17px;
    bottom: -156px;
    width: 300px;
  }

  .input._1 {
    margin-bottom: 4px;
  }

  .input._3 {
    width: 400px;
    height: 70px;
  }

  .input._6 {
    width: 110%;
    margin-top: 11px;
  }

  .div-block-56 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .div-block-57 {
    margin-top: 62px;
    margin-left: 0px;
  }

  .div-block-58 {
    margin-left: auto;
  }

  .checkbox-field {
    margin-bottom: 23px;
  }

  .div-block-59 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 105px;
    margin-left: 26px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .image-21 {
    margin-top: 30px;
  }

  .div-block-60 {
    width: 80%;
    max-width: 80%;
  }

  .image-28 {
    left: 83%;
    top: -93px;
  }

  .columns {
    width: 50%;
  }

  .div-block-62 {
    left: 0px;
    bottom: 0px;
    width: 200%;
    margin-left: 0px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media screen and (max-width: 479px) {
  .brand {
    padding-left: 0px;
  }

  .button {
    margin-top: 0px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 72px;
    padding-left: 72px;
  }

  .button._2 {
    display: block;
    margin-top: 0px;
    padding-right: 65px;
    padding-left: 65px;
  }

  .button._3 {
    margin-top: 18px;
    margin-left: auto;
    padding-right: 81px;
    padding-left: 81px;
  }

  .button._4 {
    padding-right: 65px;
    padding-left: 65px;
  }

  .section {
    overflow: hidden;
    padding-right: 13px;
    padding-bottom: 15px;
    padding-left: 13px;
    background-size: 500px, auto;
  }

  .div-block {
    margin-top: 26px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .div-block-2 {
    height: auto;
    max-height: none;
    min-height: auto;
    margin-top: 31px;
    padding-bottom: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-size: 193px;
  }

  .h1 {
    margin-top: 0px;
    margin-bottom: 19px;
    font-size: 25px;
    line-height: 30px;
    text-align: left;
  }

  .h1._1 {
    text-align: center;
  }

  .div-block-3 {
    width: 95%;
    max-width: 100%;
    margin-top: 26px;
    margin-left: 15px;
  }

  .div-block-4 {
    margin-top: 0px;
    margin-bottom: 70px;
  }

  .text-block {
    margin-left: 26px;
    font-size: 14px;
    line-height: 21px;
  }

  .div-block-5 {
    width: 80%;
    margin-bottom: 20px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .div-block-6 {
    display: none;
  }

  .text-block-2 {
    margin-left: 26px;
    font-size: 14px;
    line-height: 21px;
  }

  .div-block-7 {
    width: 100%;
    margin-bottom: 20px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .image-2 {
    width: 13%;
    margin-right: 0px;
    margin-bottom: 0px;
  }

  .div-block-8 {
    width: 80%;
    margin-bottom: 20px;
    margin-left: 0px;
  }

  .text-block-3 {
    margin-left: 26px;
    font-size: 14px;
    line-height: 21px;
  }

  .text-block-3._2 {
    margin-left: 26px;
  }

  .div-block-13 {
    margin-top: -64px;
    background-position: 50% 0%;
    background-size: 330px;
  }

  .text-block-4 {
    font-size: 14px;
    line-height: 30px;
  }

  .div-block-15 {
    margin-bottom: 0px;
  }

  .div-block-16 {
    margin-bottom: 0px;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .div-block-18 {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .div-block-19 {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .div-block-20 {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .div-block-21 {
    margin-bottom: 31px;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .div-block-22 {
    margin-left: 7px;
    padding-right: 0px;
    padding-left: 0px;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .div-block-23 {
    height: 650px;
    max-height: 800px;
    min-height: 650px;
    margin-top: 140px;
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    background-position: 90% 25%, 0% 0%;
    background-size: 300px, 300px;
  }

  .text-block-5 {
    padding-right: 0px;
    padding-left: 25px;
    font-size: 14px;
    line-height: 18px;
    text-align: left;
  }

  .div-block-24 {
    width: 100%;
    margin-top: 0px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .image-5 {
    width: 50px;
  }

  .div-block-25 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-content: flex-end;
    -ms-flex-line-pack: end;
    align-content: flex-end;
  }

  .div-block-27 {
    margin-top: 24px;
    background-image: url('../images/Ellipse-21.svg'), url('../images/Rectangle-1.svg'), url('../images/Ellipse-24.svg');
    background-position: 100% 100%, 0px 0px, 70% 74%;
    background-size: 300px, 318px, 300px;
    background-repeat: no-repeat, no-repeat, no-repeat;
  }

  .div-block-28 {
    margin-bottom: 11px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: left;
  }

  .text-block-6 {
    font-size: 16px;
    line-height: 20px;
  }

  .div-block-29 {
    width: 70%;
    margin-top: 36px;
    margin-left: 46px;
  }

  .heading-2 {
    margin-bottom: 16px;
    font-size: 25px;
  }

  .text-block-7 {
    margin-bottom: 10px;
    font-size: 17px;
    line-height: 25px;
  }

  .text-block-8 {
    font-size: 14px;
    line-height: 18px;
  }

  .div-block-31 {
    margin-top: 76px;
    margin-right: 0px;
    margin-left: 0px;
  }

  .div {
    margin-bottom: 34px;
  }

  .text-block-9 {
    font-size: 17px;
    line-height: 25px;
    font-weight: 700;
    text-align: center;
  }

  .div-block-33 {
    margin-top: 42px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .div-block-34 {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .div-block-35 {
    width: 100%;
    margin-top: 122px;
  }

  .text-block-10 {
    line-height: 18px;
  }

  .text-block-10._1 {
    font-size: 17px;
  }

  .div-block-36 {
    width: 100%;
    margin-bottom: 23px;
  }

  .div-block-37 {
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .div-block-38 {
    left: -2px;
    top: 279px;
    width: 100%;
    margin-top: 2px;
    margin-right: 0px;
    margin-left: 0px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
  }

  .div-block-39 {
    margin-bottom: 5px;
  }

  .div-block-40 {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .div-block-41 {
    margin-top: 54px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .div-block-44 {
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
  }

  .div-block-45 {
    margin-left: 0px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .image-8 {
    width: 25%;
    padding-right: 0px;
  }

  .image-9 {
    width: 70px;
    margin-right: 10px;
    margin-left: 10px;
    padding-right: 0px;
  }

  .image-10 {
    width: 80px;
    margin-right: 10px;
    margin-left: 10px;
  }

  .image-11 {
    margin-top: 9px;
  }

  .image-12 {
    margin-top: 9px;
  }

  .image-13 {
    margin-top: 9px;
  }

  .image-14 {
    margin-top: 9px;
  }

  .image-15 {
    margin-top: 9px;
  }

  .div-block-46 {
    width: 100%;
    margin-bottom: 26px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .image-16 {
    width: 37px;
    margin-bottom: 0px;
  }

  .div-block-47 {
    margin-top: 0px;
  }

  .div-block-48 {
    height: 20vh;
    background-image: url('../images/Frame-2-1.svg');
    background-position: 50% 50%;
    background-size: 240px;
    background-repeat: no-repeat;
  }

  .div-block-48._2 {
    height: 22vh;
    background-image: url('../images/ап.svg');
    background-position: 50% 50%;
    background-size: 230px;
    background-repeat: no-repeat;
  }

  .text-block-12 {
    font-size: 13px;
    line-height: 17px;
    font-weight: 700;
  }

  .div-block-51 {
    width: 60%;
    padding-right: 0px;
    padding-left: 0px;
  }

  .mask {
    overflow: visible;
  }

  .slide-nav-2 {
    top: 393px;
    font-size: 4px;
  }

  .image-20 {
    bottom: -46%;
    display: none;
  }

  .div-block-52 {
    margin-top: 24px;
  }

  .form-block {
    width: 100%;
  }

  .div-block-55 {
    margin-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
  }

  .label._4 {
    width: 250px;
  }

  .input._1 {
    margin-bottom: 0px;
  }

  .input._3 {
    width: 100%;
  }

  .input._6 {
    width: 100%;
  }

  .div-block-56 {
    width: 300px;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .radio-button-label {
    font-size: 14px;
    line-height: 18px;
  }

  .radio-button-field {
    margin-bottom: 27px;
  }

  .form {
    width: 60%;
  }

  .form-block-2 {
    display: none;
    width: 112%;
    margin-left: 21px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .div-block-57 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-top: 18px;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
  }

  .div-block-58 {
    margin-top: 72px;
  }

  .checkbox-field {
    margin-bottom: 19px;
  }

  .submit-button {
    padding-right: 75px;
    padding-left: 75px;
  }

  .div-block-59 {
    margin-top: 57px;
    margin-left: 17px;
  }

  .image-21 {
    width: 85px;
    margin-right: 10px;
    margin-left: 10px;
  }

  .image-22 {
    width: 34px;
    margin-left: -2px;
  }

  .image-23 {
    display: none;
  }

  .image-24 {
    width: 85px;
  }

  .icon {
    left: 34px;
    font-size: 16px;
  }

  .icon-2 {
    left: -39px;
    font-size: 16px;
  }

  .checkbox-label {
    font-family: Circe, sans-serif;
    line-height: 18px;
    font-weight: 700;
    text-align: left;
  }

  .div-block-60 {
    width: 70%;
    max-width: 100%;
    margin-top: 62px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .image-25 {
    margin-bottom: 19px;
  }

  .image-27 {
    width: 17%;
  }

  .image-28 {
    left: 81%;
    bottom: 68%;
    display: none;
  }

  .columns {
    width: 40%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .div-block-62 {
    left: -27px;
    width: 180%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@font-face {
  font-family: 'Circe';
  src: url('../fonts/circe_bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Circe';
  src: url('../fonts/circe_light.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Circe';
  src: url('../fonts/circe_extrabold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}